body{
	background:#fcfcfc;
	background:url(back.jpg);
}
input {
	border:0px #bfbfbf solid;
	padding:9px;
	margin:0;
	font-size:14px;
	border:1px #f4f4f4 solid;
	background-color:#f9f9f9 !important;
	border-radius:2px;
}

input[type="email"], input[type="password"], input[type="text"] {
	width:220px;
}

input[type="submit"] {
	padding:9px 15px;
	cursor:pointer;
}

input[type="submit"]:hover {
	background-color:#f4f4f4 !important;
}

input[type="checkbox"], label {
	font-size:14px;
	margin:2px;
}

.loginsection, .usersection{
	display: inline-block;
	height:auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	background:#ffffff;
	border:1px #cfcfcf solid;
	border-radius:2px;
}
.usersection{
	width:600px;
}

h2{
	margin-left:25px;
	margin-bottom:-10px;
	background:#ffffff;
}

.loginsection form, .usersection{
	padding:20px 25px;
}

.usersection {
	padding:20px 25px;
}
.updateprofilesection {
	float:left;
	padding:20px 25px;
}
.addusersection {
	float:right;
	padding:20px 25px;
}
.message{
	padding:5px 25px;
	margin-bottom:-15px;
	border:0px solid #000000;
	border-radius:5px;
}
.hello{
	margin-top:-40px;
	margin-bottom:35px;
}
.red{
	background:#ff0000;
}
.green{
	background:#00FF00;
}
.yellow{
	background:#ffde00;
}
